.banner{
    position: relative;
    }

.banner p{
    color: white;
}

.saludo {
    color: #563383;
}

@media (min-width:576px){
.banner img{
    max-width: 100%;
    height: 1000px;
    padding-left: 1%;
    padding-right: 1%;
    padding-top: 1%;
    }
    
.banner p{
        text-align: center;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 4vw;
    color: white;
    }

}

@media (max-width:575px) {
   .banner img{
    max-width: 100%;
    height: 400px;
    }

    .banner p {
        text-align: center;
        position: absolute;
        font-size: 4vw;
        top: 30%;
        left: 28%;
    }
}