<div class="row">
    <div class="logo col-xs-6 col-sm-6 col-md-6 col-lg-6">
        <img src="../../../assets/APLogo.png" class="img-fluid" id="aplogo">
    </div>
    <div class="redes col-xs-6 col-sm-6 col-md-6 col-lg-6">
        <a href=""><img src="../../../assets/linkedin.png" class="img-fluid" alt=""></a>
        <a href=""><img src="../../../assets/github.png" class="img-fluid" alt=""></a>
        <a href=""><img src="../../../assets/instagram.png" class="img-fluid" alt=""></a>
        <a href=""><img src="../../../assets/twitter.png" class="img-fluid" alt=""></a>
    </div>
</div>
