.nombre h1{
    font-weight: bold;
    color: #563383;
}
.nombre p{
    font-weight:bold;
    font-style: italic;
}
.photo img{
    border-radius: 100%;
    box-shadow: 15px 15px 15px grey;
}
/*
@media (min-width:576px){
    .person {
        position: absolute;
        top: 60%;
    }
    .photo img{
        width: 350px;
    }
    .photo{
        padding-left: 60%;
    }
    .nombre{
        padding-left: 20%;
    }
    .nombre h1{
        font-size: 3vw;
    }
    .nombre p{
        font-size: 1vw;
    }
}*/