@media (min-width:576px){
    #profilePhoto{
        position: absolute;
        width: 400px;
        box-shadow: 15px 15px 15px grey;
        border-radius: 100%;
        left: 25%;
        top: 100%;
    } 
}

@media (max-width:575px){
    #profilePhoto{
        position: absolute;
        width: 300px;
        border-radius: 100%;
        box-shadow: 15px 15px 15px grey;
        left: 25%;
        top: 55%;
    }
}