
.info {
    display: flex;
    align-items: center;
    align-items: center;
    flex-direction: column;
}
.info h1{
    color: #563383;
    font-weight: bold;
}
.info p{
    color: #563383;
    font-weight:bold;
}

@media (min-width:576px){
}

@media (max-width:575px){
    .info{
        flex-direction: column;
    }
    .photo{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #profilePhoto{
        max-width: 195px;
    }
    .info{
        padding-top: 40%;
    }
    .nombre h1{
        font-size: 10vw;
    }
    .nombre p{
        font-size: 5vw;
    }
    .sobre-mi{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 10%;
        padding-left: 2.5%;
        padding-right: 2.5%;
    }
     .sobre-mi h1{
        font-size: 9vw;
    }
    .sobre-mi p {
        font-size: 6.5vw;
    }
}

